<template>
    <div>
        <button>Go to Movies</button>
        <h3>Favourite Movies List</h3>
    </div>
</template>
<script>
export default {
    name : 'Movies'
}
</script>
<style scoped>

</style>