<template>
    <div>
        <button>Go to Profile</button>
        <input type="text">
        <h3>Movies</h3>
        <ul>

        </ul>
    </div>
</template>
<script>
export default {
    name:'Movies'
}
</script>
<style scoped>

</style>