<template>
    <div>
        <label for="">Username</label>
        <input type="text">
        <label for="">Password</label>
        <input type="text">
        <button>Login</button>
        <button>Register</button>
    </div>
</template>

<script>
export default {
    name :'Login'
}
</script>
<style scoped>

</style>